services:
  rustfs:
    image: "${IMAGE_REPOSITORY:-docker.io}/rustfs/rustfs:${SERVER_VERSION:-latest}"
    container_name: rustfs
    restart: unless-stopped
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      - RUSTFS_ADDRESS=0.0.0.0:9000
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_ACCESS_KEY=${CONSOLE_USERNAME:-rustfsadmin}
      - RUSTFS_SECRET_KEY=${CONSOLE_PASSWORD:-rustfsadmin}
    volumes:
      - data:/data
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -f http://localhost:9000/health && curl -f http://localhost:9001/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - img-stack

networks:
  rustfs-network:    # 由第一个 compose 自动创建
    name: rustfs-network

volumes:
  data:
    name: "rustfs_data"