.git
.forgejo
node_modules
docs/.vitepress/dist
docs/.vitepress/cache
web/.svelte-kit
web/build
dist
bin
state
state-controller
state-agent
repo
repo-controller
repo-agent
repo-agent-node-2
logs
.DS_Store
.idea
.vscode
