.git
.forgejo
node_modules
docs/.vitepress/dist
docs/.vitepress/cache
web/.svelte-kit
web/build
dist
bin
state
state-controller
state-agent
repo
repo-controller
repo-agent
repo-agent-node-2
logs
dev/.go-mod-cache
dev/.go-build-cache
dev/.bun-cache-user
dev/.node_modules-user
dev/.web-node_modules-user
dev/go-mod-cache
dev/go-build-cache
dev/bun-cache
dev/bun-cache-user
dev/node_modules
dev/node_modules-user
dev/web-node_modules
dev/web-node_modules-user
.DS_Store
.idea
.vscode
