COMPOSIA_CONFIG_DIR=./config
COMPOSIA_CONTROLLER_REPO_DIR=./data/repo-controller
COMPOSIA_CONTROLLER_STATE_DIR=./data/state-controller
COMPOSIA_CONTROLLER_LOG_DIR=./data/logs
COMPOSIA_AGENT_REPO_DIR=/data/repo-agent
COMPOSIA_AGENT_STATE_DIR=./data/state-agent
COMPOSIA_CONTROLLER_ADDR=http://controller:7001
COMPOSIA_ACCESS_TOKEN=REPLACE_WITH_CONTROLLER_ACCESS_TOKEN
DOCKER_SOCK_GID=REPLACE_WITH_DOCKER_SOCKET_GID
WEB_LOGIN_USERNAME=admin
WEB_LOGIN_PASSWORD_HASH=REPLACE_WITH_ARGON2_HASH
WEB_SESSION_SECRET=REPLACE_WITH_RANDOM_SESSION_SECRET
ORIGIN=http://localhost:3000
HOST=0.0.0.0
PORT=3000
