DEV_WORKSPACE_DIR=..
DEV_GO_MOD_CACHE_DIR=./.go-mod-cache
DEV_GO_BUILD_CACHE_DIR=./.go-build-cache
DEV_DENO_CACHE_DIR=./.deno-cache-user
DEV_ROOT_NODE_MODULES_DIR=./.node_modules-user
DEV_WEB_NODE_MODULES_DIR=./.web-node_modules-user
WEB_CONTROLLER_ADDR=http://controller-dev:7001
WEB_BROWSER_CONTROLLER_ADDR=http://127.0.0.1:7001
WEB_CONTROLLER_ACCESS_TOKEN=replace-with-dev-controller-token
# WEB_CONTROLLER_HEADERS={"CF-Access-Client-Id":"...","CF-Access-Client-Secret":"..."}
WEB_LOGIN_USERNAME=admin
WEB_LOGIN_PASSWORD_HASH=$$argon2id$$v=19$$m=65536,t=3,p=4$$/wh05hbH5ipiT42CK+GxVA$$2unNmHbsRe5ZkFgIkHNekBGk6KH+79sZAPB9qmRrUlQ
WEB_SESSION_SECRET=dev-admin-session-secret
ORIGIN=http://127.0.0.1:5173
HOST=0.0.0.0
PORT=5173
